<main class="contentMain">
  <div class="errorMessage">
    <h1>Oops! Parece que ocurrio un error</h1>
    <p>{{error}}</p>
    <a href="http://localhost:8090/login">
      <button class="btn btn-warning">Ir al login</button>
    </a>
  </div>
</main>