<main class="contentMain">
  <h1>Bienvenido a ECOMMERCE</h1>
  <section>
    {{#if products.length}}
      <h3>Seccion de productos</h3>
      <div class="productGallery">
        {{#each products}}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{image}} alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">{{description}}</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p>No encontramos productos</p>
    {{/if}}
  </section>
</main>