<main class="mainLogin">
  <div class="formBox">
    <form class="formLogin">
      <div class="form-group">
        <label for="exampleInputEmail1">First name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          placeholder="Jhon"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          placeholder="Doe"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="JonDoe@gmail.com"
        />
      </div>
      <div class="form-group">
        <div class="form-group">
          <label for="exampleInputEmail1">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            aria-describedby="emailHelp"
            placeholder="25"
          />
        </div>
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary btnLogin"
        onclick="handleRegister()"
      >Submit</button>
      <p>¿Alredy registred?
        <a href="http://localhost:8090/login">Login here!</a></p>
    </form>
    <img src="/image2.jpg" alt="" class="imgLogin" />
  </div>
</main>